.sequencer {
    display: inline-block;
    margin-top: 20%;
}

.sequencer-row:after {
    clear: both;
    content: "";
    display: table;
  }

.square, .square.clicked {
    border: 1px solid #999;
    border-radius: 5px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.square {
    background: #001a33;
}

.square.clicked {
    background: #ccc;
}

.square:focus {
    outline: none;
}